.container {
  display: grid;
}

a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-evenly;
}

.Laxvideos{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.images {
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
}

.img1{
  margin-left: 105px;
}

.img2{
  margin-left: 312px;
}

.img-1 p{
  text-align: center;
  padding-right: 93px;
}


.img-2 p{
  padding-left: 210px;
  text-align: center;
}    